
{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> View Product | eBhandar</title>
{% endblock title %}
    
{% block style %}
    <link rel="stylesheet" href="{% static 'css/productView.css' %} ">
{% endblock style %}

{% block body %}
    <div class="prodView-main">
        <div class="prodView-slide-container">
            <div class="prodView-slides">
                <div class="slide-images">
                    <img src="{% static '/images/banana.jpg' %}" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="{% static '/images/almond.jpg' %}" style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="{% static '/images//grapes.jpg' %} " style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="{% static '/images/cashew.webp' %} " style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="{% static '/images/carrot.jpg' %} " style="width:100%; height:300px">
                </div>
    
                <div class="slide-images">
                    <img src="{% static '/images/cabbage.jpg' %} " style="width:100%; height:300px">
                </div>
            </div>
            <div class="image-option-row">
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/banana.jpg' %}" style="width:100%; height:70px"
                        onmouseover="currentSlide(1)" alt="The Woods">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/almond.jpg' %} " style="width:100%; height:70px"
                        onmouseover="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/grapes.jpg' %} " style="width:100%; height:70px"
                        onmouseover="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/cashew.webp' %} " style="width:100%; height:70px"
                        onmouseover="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/carrot.jpg' %} " style="width:100%; height:70px"
                        onmouseover="currentSlide(5)" alt="Nature and sunrise">
                </div>
                <div class="image-option-column">
                    <img class="slide-image-option" src="{% static '/images/cabbage.jpg' %} " style="width:100%; height:70px"
                        onmouseover="currentSlide(6)" alt="Snowy Mountains">
                </div>
            </div>
        </div>

        <div class="prdView-product-desc">
            <h2>Prodct Name</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem omnis nam dicta, nostrum illum hic
                consequuntur explicabo, vitae quasi qui reprehenderit aut soluta accusamus ad ex sed! Ducimus eaque
                minima pariatur, quibusdam quae eos, perferendis mollitia placeat blanditiis, ipsum fugiat! Error,
                reiciendis? Voluptatibus, quos! Est corrupti iusto praesentium! Corrupti, debitis. Quod, culpa debitis
                atque sunt eligendi nemo quae assumenda unde tempora officiis, fugiat laboriosam placeat quam aperiam,
                quisquam animi tempore!</p>

                <div class="proView-btns">
                    <button style="background-color: rgb(136, 196, 255);">Add To Cart</button>
                    <button style="background-color: rgb(255, 189, 68);">Buy Now</button>
                </div>
        </div>
    </div>


    <div id="container">
        <div id="slider-container">
            <h2>Inspired by your Orders</h2>
            <span onclick="slideRight()" class="btn"></span>
            <div id="slider">
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
                <div class="slide">
                    <div class="card_prod">
                        <button onclick="window.location.href='{% url 'productView' %}'" class="slider-img-btn"><img src="{% static '/images/pista.png' %}" alt=""></button>
                        <p><b>Prod Name</b></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, rem.</p>
                        <button class="slider-add-to-cart-btn">Add To Cart</button>
                        <button class="slider-buy-now-btn">Buy Now</button>
                    </div>
                </div>
            </div>
            <span onclick="slideLeft()" class="btn"></span>
        </div>
    </div>

    {% endblock body %}

    {% block script %}
    <script src="{% static '/js/productView.js' %} "></script>
    {% endblock script %}