
{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> Cart | eBhandar</title>
{% endblock title %}
    
{% block style %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %} ">
{% endblock style %}

{% block body %}

    <div class="cart-main-container">
        <div class="cart-main-products-div">
            <div class="ex-product-del-cat-btn">
                <button class="instant-del-pro active" id="instant-del-pro" onclick="addActiveClIns()">Instant</button>
                <div class="vertical-line-btn"></div>
                <button class="regular-del-pro" id="regular-del-pro" onclick="addActiveClReg()">Regular</button>
            </div>
            <div class="hr-line"></div>
            <div id="regular-product-container" class="regular-product-container hide-container">
                {% for prod in regul_cart %}
                <div class="product-details-mian-div">
                    <div class="product-image-div">
                        <img src="{{prod.img.url}}" alt="">
                    </div>
                    <div class="product-name-price-details">
                        <button class="product-name-btn">{{prod.productName}}</button>
                        {% comment %} <p class="product-desc">Color: Black <br> HB</p> {% endcomment %}
                        {% comment %} <P class="product-seller-name">Seller : Mithun</P> {% endcomment %}
                        <p class="product-price-n-off">
                            <Span class="produt-price">&#x20B9; {{prod.price}}</Span> &emsp; <del class="product-mrp">&#x20B9; {{prod.mrp}}</del>
                            &emsp; <span class="percentage-off">- 24% off</span>
                        </p>
                        <div class="quality-remove-btns">
                            <label for="select-product-quantity">Quantity :</label>
                            <select>
                                <option value="{{prod.quantity}}" selected>{{prod.quantity}}</option>
                                <option value="2">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="remove-btn">
                                {% comment %} <a style="color:red; cursor:pointer" href="{% url 'remove_from_cart' item_id=prod.id %}&product_id={{ prod.product.id }}">Delete</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <br>
            <div id="instant-product-container" class="instant-product-container">
                {% for prod in insta_cart %}
                <div id="instant-del-product-div" class="instant-del-product-div">
                    <button class="instant-del-img-div">
                        <img src="{{prod.img.url}}" alt="">
                    </button>
                    <div class="instant-del-products-desc">
                        <button class="instant-del-product-name">{{prod.productName}}</button>
                        <p class="instant-del-product-weihgt"> 1 kg {{prod.weight}}</p>
                        <p class="instant-del-product-price"><span
                                class="instant-del-product-real-price">&#x20B9;{{prod.price}}</span>&emsp;<del
                                class="instant-del-product-del-price">&#x20B9;{{prod.mrp}}</del>&emsp;<span
                                class="instant-del-product-off">&#x20B9;{{prod.off}} Off</span>
                        </p>
                        <a style="color:red; cursor:pointer" href="{% url 'remove_from_cart' item_id=prod.id product_id=prod.product.id %}">Delete</a>
                    </div>
                    <div class="instant-del-product-quantity-selector">
                        <button onclick="ins_dec_prods()"  id="instant-cat-minus" type="button"> - </button>
                        <input id="instant-cat-value" type="number" value="{{prod.quantity}}" min="1" max="10" step="1">
                        <button onclick="ins_inc_prods()" id="instant-cat-plus" type="button"> + </button>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
            
            <br>

        </div>
        <div id="reg-cart-main-price-details-div" class="cart-main-price-details-div hide-container">
            <p class="price-table-heading">Price Details</p>
            <hr>
            <table>
                <tr>
                    <td>Price (3 items)</td>
                    <td class="price-table-right">&#x20B9;50</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td style="color: rgb(0, 157, 0);" class="price-table-right">- &#x20B9;12</td>
                </tr>
                <tr>
                    <td>Packaging</td>
                    <td class="price-table-right"><del>&#x20B9;10</del> <span style="color: rgb(0, 157, 0);">Free</span>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Charges</td>
                    <td class="price-table-right">&#x20B9;30</td>
                </tr>
            </table>
            <hr>
            <div class="price-total-amount">
                <p><b>Total Amount</b></p>
                <p><b>&#x20B9; 68</b></p>
            </div>
            <div class="place-order-btn">
                <button onclick="window.location.href='{% url "checkout" %}'">PLACE ORDER</button>
            </div>

        </div>

        <div id="insta-cart-main-price-details-div" class="cart-main-price-details-div">
            <p class="price-table-heading">Price Details</p>
            <hr>
            <table>
                <tr>
                    <td>Price (4 items)</td>
                    <td class="price-table-right">&#x20B9;240</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td style="color: rgb(0, 157, 0);" class="price-table-right">- &#x20B9;40</td>
                </tr>
                <tr>
                    <td>Packaging</td>
                    <td class="price-table-right"><del>&#x20B9;10</del> <span style="color: rgb(0, 157, 0);">Free</span>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Charges</td>
                    <td class="price-table-right">&#x20B9;30</td>
                </tr>
            </table>
            <hr>
            <div class="price-total-amount">
                <p><b>Total Amount</b></p>
                <p><b>&#x20B9; 230</b></p>
            </div>
            <div class="place-order-btn">
                <button onclick="window.location.href='{% url "checkout" %}'">PLACE ORDER</button>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
<script src="{% static '/js/cart.js' %}"></script>
{% endblock script %}