
{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> SignUp | eBhandar</title>
{% endblock title %}
    
{% block style %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %} ">
{% endblock style %}

{% block body %}

    <div class="signup-main-container">
        <div class="ebhandar-side-logo">
            <img src="{% static "/images/eBhandar.png" %}" alt="">
            <h1>Sign Up</h1>
        </div>
        <div class="signup-form-div">
            <form action="signup" method="post">
                {% csrf_token %}
                <label for="first_name">First name:</label><br>
                <input type="text" id="first_name" name="first_name">
                <br>
                <label for="last_name">Last name:</label><br>
                <input type="text" id="last_name" name="last_name">
                <br>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username">
                <br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email">
                <br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password">
                <br>
                <label for="confirm_password">Re-enter Password:</label><br>
                <input type="password" id="confirm_password" name="confirm_password">
                <br>
                <button type="submit">Sign Up</button>
              </form> 
              <a href=" {% url 'login' %} ">Already have an account</a>
        </div>
    </div>

{% endblock body %}

{% block script %}

{% endblock script %}